<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Sign in</title>
</head>
<body>
    <%- include('./header') %>
    <div class="app">
        <section class="signin-section">
            <h2>Sign In to Your Account</h2>
            <form action="/signin" method="post" class="signin-form" autocomplete="on">
                <label for="username">Username</label>
                <input type="text" 
                id="username" 
                name="username" 
                required autocomplete="nickname"
                value="<%= formData.username || '' %>"/>
                <% if (errors) { %>
                    <% errors.forEach(err => { %>
                        <% if (err.path == 'username') { %>
                            <div class="errors">
                                <p class="error">
                                    <%= err.msg %>
                                </p>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>

                <label for="password">Password</label>
                <input type="password" 
                id="password" 
                name="password" 
                required autocomplete="current-password"
                value="<%= formData.password || '' %>"/>
                <% if (errors) { %>
                    <% errors.forEach(err => { %>
                        <% if (err.path == 'password') { %>
                            <div class="errors">
                                <p class="error">
                                    <%= err.msg %>
                                </p>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>

                <button type="submit" class="submit-btn">Sign In</button>
            </form>
        </section>
    </div>
</body>
</html>