<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Sign up</title>
</head>
<body>
    <%- include('./header') %>
    <div class="app">
        <section class="signup-section">
            <h2>Create an Account</h2>
            <form action="/signup" method="post" class="signup-form" autocomplete="on">
                <label for="username">Username</label>
                <input type="text" 
                id="username" 
                name="username" 
                placeholder="John_doe" 
                required autocomplete="username"
                value="<%= formData.username || '' %>"/>
                <% if (errors) { %>
                    <% errors.forEach(err => { %>
                        <% if (err.path == 'username') { %>
                            <div class="errors">
                                <p class="error">
                                    <%= err.msg %>
                                </p>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>

                <label for="password">Password</label>
                <input type="password" 
                id="password" 
                name="password" required
                value="<%= formData.password || '' %>"/>
                <% if (errors) { %>
                    <% errors.forEach(err => { %>
                        <% if (err.path == 'password') { %>
                            <div class="errors">
                                <p class="error">
                                    <%= err.msg %>
                                </p>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>

                <label for="confirmpassword">Confirm Password</label>
                <input type="password" 
                id="confirmpassword" 
                name="confirmpassword" required
                value="<%= formData.confirmpassword || '' %>"/>
                <% if (errors) { %>
                    <% errors.forEach(err => { %>
                        <% if (err.path == 'confirmpassword') { %>
                            <div class="errors">
                                <p class="error">
                                    <%= err.msg %>
                                </p>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>

                <button type="submit" class="submit-btn">Sign Up</button>
            </form>
        </section>
    </div>
</body>
</html>